section#special {
  
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}
section#special div.wrap {
  
  padding-bottom: 30px;
}
section#special div.wrap h2 {
  font-size: 27px;
  font-weight: 600;
}
section#special div.spHall {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section#special div.spHall> a{
  width: 48%;
}
section#special div.spHall a div{
  
  width: 100%;
  height: 100%;
  position: relative;
}
section#special div.spHall a div img{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   border-radius: 15px;
}
section#special div.spHall a div img:nth-child(1){
  
  background-image: url(../img/spe1.png);
 
}
section#special div.spHall a div img:nth-child(2),
section#special div.spHall a div img:nth-child(3),
section#special div.spHall a div img:nth-child(4){
   position: absolute;
   left: 0;
   top: 0;
   display: none;
}
section#special div.spHall ul { 
  width: 48%;
}
section#special div.spHall ul li {
  
  box-sizing: border-box;
  border: 1px solid transparent;
}
section#special div.spHall ul li:nth-child(1){
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
section#special div.spHall ul li:nth-child(2){
  border-bottom: 1px solid #e9e9e9;
}
section#special div.spHall ul li:nth-child(3){
  border-bottom: 1px solid #e9e9e9;
}
section#special div.spHall ul li:nth-child(4){
  border-bottom: 1px solid #e9e9e9;
}
section#special div.spHall ul li a.splist {  
  display: flex;
  padding: 25px 40px;
  justify-content: space-between;
  box-sizing: border-box;
}
section#special div.spHall ul li a.splist h3 {
  
  font-size: 21px;
}
section#special div.spHall ul li a.splist p {
  
  padding: 5px 5px;
  background-color: #eee;
}
section#special div.topmore {
  position: absolute;
  top: 50px;
  right: 23px;
}
section#special div.topmore a.moreall {
  
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}
section#special div.topmore a.moreall::after{
  content: "";
  content: "";
  background-image: url(../img/arrowR.png);
  height: 14px;
  width: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.special{
    border: 1px solid !important;
    border-radius: 15px
  }
.spbold{
  font-weight: bold;
  color: #ed3124;
}
.spblock{
  display: block;
}